* {
  .box-sizing(border-box);
}

// Selection
// -------------------------

::selection {
  background: @light-blue;
  color: #fff;
}

::-moz-selection {
  background: @light-blue;
  color: #fff;
}

// Links
// -------------------------

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: @link-color;
  text-decoration: none;
  .transition(color @speed ease-in-out, background @speed ease-in-out, border @speed ease-in-out;);
  .user-select(none);

  &:hover {
    color: @link-hover-color;
    text-decoration: none;
  }

  &:active {
    color: @link-active-color;
  }

  &:focus {
    outline: none;
  }

}

// Images
// -------------------------
img {
  max-width: 100%;
  vertical-align: top;
}

// Body text
// -------------------------

p {
  font-size: @font-size-base;
  line-height: @line-height-base;
  margin: 0 0 (@line-height-computed / 2);
  color: @dark-grey;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
  line-height: 1.33em;
  color: @dark-blue;
  margin-bottom: 1.5rem;
  &.underlined {
    font-family: @font-gotham-thin;
    border-bottom: 1px solid @grey;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: @grey;
}

.rich-text {
  font-size: 14px;
  padding-bottom: 40px;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 4rem;
  }
  .underlined {
    text-decoration: underline;
    color: @black;
  }
  p {
    line-height: 1.75em;
    margin-bottom: 1.5em;
    font-size: 1em;
  }
  li p {
    margin-bottom: .5em;
  }
  ul {
    list-style: disc;
    padding-left: 16px;
    margin: 1.5em 0 2em;
    li {
      margin-bottom: .5em;
    }
  }
  ol {
    list-style: decimal-leading-zero;
    padding-left: 26px;
    margin: 1.5em 0 2em;
    &.abc {
      list-style: upper-alpha;
    }
    &.roman {
      list-style: upper-roman;
    }
    li {
      margin-bottom: .5em;
    }
  }
  b, strong {
    font-family: @font-gotham-medium;
    color: @black;
  }
}

h1, .h1 {
  font-size: 30px;
  font-family: @font-gotham-thin;
  line-height: 1.15em;
  .respond(@md, {
    font-size: 36px;
  });
  .respond(@xlg, {
    font-size: @font-size-h1;
  });
  &.underlined {
    font-size: floor(@font-size-base * 2);
  }
}

h2, .h2 {
  font-size: @font-size-h2;
  font-family: @font-gotham-thin;
  &.underlined {
    font-size: floor(@font-size-base * 1.5);
  }
}

h3, .h3 {
  font-size: @font-size-h3;
  font-family: @font-gotham-thin;
  &.underlined {
    font-size: floor(@font-size-base * 1.25);
  }
}

h4, .h4 {
  font-size: @font-size-h4;
  font-family: @font-gotham-light;
  &.underlined {
    font-size: floor(@font-size-base * 1.125);
  }
}

h5, .h5 {
  text-transform: uppercase;
  letter-spacing: @tracked-out;
  font-size: 14px;
  font-family: @font-gotham-book;
  &.underlined {
    font-size: @font-size-base;
  }
}

h6, .h6 {
  font-size: @font-size-h6;
  font-family: @font-gotham-medium;
  font-family: @font-gotham-book;
  text-transform: uppercase;
  letter-spacing: @tracked-out;
  font-size: 11px;
  margin-bottom: 1.5em;
  &.underlined {
    font-size: @font-size-base;
  }
}


// Table
// -------------------------

table {
  width: 100%;

  thead, tr, th, td {
    vertical-align: middle;
  }

  td {
    padding-right: 20px;
  }
}

// Inputs
// -------------------------
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background: @input-bg;
  border: @input-border;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  padding: @input-padding;
  width: 100%;
  margin: 0px 0 1em 0;
  .border-radius (@input-border-radius);
  .transition(all @speed ease-in-out);
  resize: none;
  vertical-align: top;
  text-indent: 0px;
  height: @btn-height;
}

textarea {
  line-height: @line-height-base;
  padding-top: 7px;
  padding-bottom: 10px;
  height: 120px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  background: @input-focus-bg;
  color: @input-focus-color;
}

svg * {
  .transition(fill @speed ease-in-out);
}

::-webkit-input-placeholder {
  .transition(color @speed ease-in-out);
   color: lighten(@mid-grey, 5%);
}

:-moz-placeholder { /* Firefox 18- */
  .transition(color @speed ease-in-out);
   color: lighten(@mid-grey, 5%);  
}

::-moz-placeholder {  /* Firefox 19+ */
  .transition(color @speed ease-in-out);
   color: lighten(@mid-grey, 5%);  
}

:-ms-input-placeholder {  
  .transition(color @speed ease-in-out);
   color: lighten(@mid-grey, 5%);  
}

:focus::-webkit-input-placeholder {
   color: lighten(@mid-grey, 20%);
}

:focus:-moz-placeholder { /* Firefox 18- */
   color: lighten(@mid-grey, 20%);  
}

:focus::-moz-placeholder {  /* Firefox 19+ */
   color: lighten(@mid-grey, 20%);  
}

:focus:-ms-input-placeholder {  
   color: lighten(@mid-grey, 20%);  
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
