// ALL MAJOR COMPONENTS AND RESUSABLE ELEMENTS
// ===============================================================
@import "includes.less";
@import "./components.less";
.cols();

@speed : .2s;

html {
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: @dark-blue;
  font: normal normal normal @font-size-base/@line-height-base @font-gotham-book;
  -webkit-overflow-scrolling: touch;
  display: block;
  color: @dark-blue;
  height: auto;
}

.application_wrapper {
  z-index: @layer1;
  position: relative;
  left: 0;
  .transition(all @speed ease-in-out);

  .overlay {
    .transition(all @speed ease-in-out);
    .display(fixed);
    .topLeft(0, 0);
    .bottomRight(0, 0);
    content: '';
    background: @dark-blue;
    z-index: @layer5;
    opacity: 0;
    visibility: hidden;
  }

  .container {
    .transition(all @speed ease-in-out);
    position: relative;
  	margin: 0 auto;
  	width: @site-width;
  	max-width: @max-site-width;
    min-width: 290px;

    &.narrow {
      max-width: 800px;
    }

    .respond(@huge, {
      &.push-right {
        padding-left: 196px;
      }
      &.push-left {
        padding-right: 196px;
      }
    });
    .respond(@huge, {
      &.push-right {
        padding-left: @container-offset;
      }
      &.push-left {
        padding-right: @container-offset;
      }
    }, @short-height);
  }

  .page-content {
    position: relative;
    height: 100%;
    .transition(all @speed ease-in-out);
  }
}
