@speed : .2s;

@import "includes.less";
@import "basics.less";
@import "./includes/mixins.less";

.cols();

html,
body,
.application_wrapper,
.page-content,
.page-demo-request {
  height: 100%;
}

html {
  .size(100%, 100%);
  //overflow: hidden;
}

body {
  //.display(absolute);
  .size(100%, 100%);
  -webkit-font-smoothing: subpixel-antialiased;
  background: @white;
  //overflow: hidden;
  font: normal normal normal @font-size-base/@line-height-base @font-gotham-book;
  -webkit-overflow-scrolling: touch;
  display: block;
  color: @dark-blue;
}

.application_wrapper {
  // .display(absolute);
  // .size(100%, 100%);
  // .topLeft(0, 0);
  z-index: @layer1;
  position: relative;
  left: 0;
  .transition(all @speed ease-in-out);

  .overlay {
    .transition(all @speed ease-in-out);
    .display(fixed);
    .topLeft(0, 0);
    .bottomRight(0, 0);
    content: '';
    background: @dark-blue;
    z-index: @layer5;
    opacity: 0;
    visibility: hidden;
  }

  .container {
    .transition(all @speed ease-in-out);
    position: relative;
  	margin: 0 auto;
  	width: @site-width;
  	max-width: @max-site-width;
    &.narrow {
      max-width: 800px;
    }
    .respond(@huge, {
      &.push-right {
        padding-left: 300px;
      }
      &.push-left {
        padding-right: 300px;
      }
    });
  }
  @import "./pages/exchange.less";
}

@import "./components/components.less";
