@btn-bg:                       @light-blue;
@btn-color:                    @white;
@btn-hover-color:              @white;
@btn-border-radius:            3px;
@btn-height:                   60px;
@btn-padding:                  0px;
@btn-hover-bg:                 #1278ff;
@btn-hover-color:              @white;
@btn-hover-border:             1px solid #1278ff;
@btn-active-bg:                lighten(@light-blue, 10%);
@btn-active-color:             @white;
@btn-active-border:            lighten(@light-blue, 10%);

.button {
  .user-select(none);
  .border-radius(@btn-border-radius);
  .transition(background @speed ease-in-out, border @speed ease-in-out, color @speed ease-in-out;);
  .box-sizing(border-box);
  vertical-align: top;
  -webkit-appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  background-image: none;
  -webkit-appearance: caret;
  -moz-appearance: caret; /* mobile firefox too! */
  -webkit-appearance: none;
  background-color: @btn-bg;
  color: @btn-color;
  height: @btn-height;
  padding: @btn-padding;
  text-transform: uppercase;
  letter-spacing: @tracked-out;
  font-family: @font-gotham-book;
  font-size: 11px;
  font-weight: normal;
  cursor: pointer;
  line-height: @btn-height + 1;
  width: 100%;
  max-width: 400px;
  position: relative;
  white-space: nowrap;
  padding: 0px 25px;
  border: 1px solid @light-blue;

  &:hover {
    color: @btn-hover-color;
    background-color: @btn-hover-bg;
    border: 1px solid @btn-hover-bg;
  }

  &:active {
    color: @btn-active-color;
    background-color: @btn-active-bg;
    border: 1px solid @btn-active-bg;
  }

  &.button-hollow{
    background: none;
    color: @light-blue;

    &:hover {
      color: #fff;
      background-color: @btn-hover-bg;
    }

    &:active {
      background-color: @btn-active-bg;
    }
  }
}