// Main colors
// -------------------------
@light-blue:                            #2299ff;
@dark-blue:                             #283040;
@light-grey:                            #eff0f1;
@mid-grey:                              #a9acb3;
@black:                                 #222222;
@grey:                                  #dddedf;
@dark-grey:                             #787d87;
@white:                                 #ffffff;
@dark-line-blue:                        #546480;
@dark-blue-hover:                       #171c27;


// Links
// -------------------------
@link-color:                            @light-blue;
@link-hover-color:                      darken(@light-blue,20%);
@link-active-color:                     lighten(@light-blue,20%);