// General Classes
// -------------------------
.blue {
  color: @light-blue !important;
}

.grey {
  color: @dark-grey !important;
}

.align-right {
	text-align: right;
}

// -------------------------
section {
	padding: 12% 0;
	overflow-x: hidden;
	overflow-y: visible;
	.respond(@lg, {
		padding: 100px 0;
	});
	.respond(@huge, {
		padding: 100px 0;
	});
	&.ui-block {
		.row {
			.block-info {
				.section-header {
					color: @light-blue;
					.respond(@xlg, {
						position: absolute;
						top: 0;
					});
				}
				.respond(@xlg, {
					.flex-display();
					.align-items(center);
					height: 600px;
				});
				> div {
					
				}
			}
		}
	}
}

.default-page-title {
	background-color: @dark-blue;
	text-align: center;
	padding: 5em 0 7em;
	h1, .h1 {
		margin: 0;
		color: @white;
	}
	h6, .h6 {
		//font-family: @font-gotham-medium;
		color: @light-blue;
		font-size: 15px;
		margin: 1.5em 0 1em;
	}
}

.grey-bg {
	background-color: @light-grey;
}


.dark-blue {
  background-color: @dark-blue;
  color: @mid-grey;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: @white;
    &.grey {
    	color: @grey;
    }
    &.mid-grey {
    	color: @mid-grey;
    }
    &.dark-grey {
    	color: @dark-grey;
    }
  }
  .blue {
  	color: @light-blue;
	}
  p {
  	color: @mid-grey;
  }
  .h1, .h2, .h3, .h4 {
  	letter-spacing: .015em;
  }
  a {
  	color: @mid-grey;
  	&:hover {
  		color: @white;
  	}
  }
}

.screenshot {
	.screenshot-wrap {
		margin-left: $gutter;
		margin-bottom: 10%; 
		.border-radius(3px);
		.respond(@md, {
			.border-radius(5px);
			max-width: 130%;
      width: 130%;
			margin-bottom: 0;
		});
		.respond(@xlg, {
			max-width: 900px;
      width: 900px;
		});
		.respond(@huge, {
			//max-width: 100%;
		});
		.box-shadow(0 0px 20px rgba(40, 48, 64, 0.2));
	}
	&.left .screenshot-wrap {
		.respond(@md, {
			float: right;
		});
	}
}

.block-info {
	> div {
		max-width: 475px;
	}
	.respond(@md, {
		padding-right: 10%;
		&.right {
			padding-right: 0;
			padding-left: 10%;
		}
	});
	.h1 + ul.checklist {
		margin-top: 3em;
	}
}

.checklist {
	li {
		margin-bottom: 1.25em;
		color: @mid-grey;
		> span {
			display: inline-block;
			vertical-align: middle;
			width: 85%;
			margin-top: -1px;
		}
		svg.tick {
			width: 26px;
			display: inline-block;
			vertical-align: middle;
			margin-right: 14px;
		}
	}
}

form.sign-up {
  max-width: 700px;
  margin: 0 auto;
  div.input-wrap {
    .respond(@md, {
      width: 55%;
      display: inline-block;
      margin-right: -.25em;
    });
    position: relative;
    label {
      left: 20px;
      top: 23px;
      position: absolute;
      width: 22px;

      path {
        fill: @light-blue;
      }
    }
    input[type="text"] {
      padding-left: 58px;
      font-size: 14px;
      letter-spacing: .5px;
      &:focus {
        border: @input-border;
      }
    }
  }
  button {
    .respond(@md, {
      width: 37%;
      display: inline-block;
      margin-right: -.25em;
      margin-left: 3%;
    });
  }
}

@import "./splitter.less";
@import "./header.less";
@import "./slide-in-menu.less";
@import "./faux-header.less";
@import "./top-splash.less";
@import "./logos.less";
@import "./enterprise-intro.less";
@import "./granular-data.less";
@import "./sample-comp.less";
@import "./national-coverage.less";
@import "./coverage-map.less";
@import "./bottom-sign-up.less";
@import "./on-page-splitter.less";
@import "./footer.less";
@import "./demo-request.less";
@import "./video-modal.less";
@import "./checkbox.less";