form.sign-up {
  max-width: 700px;
  margin: 0 auto;

  .input-wrap {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    .respond(@md, {
      width: 55%;
      display: inline-block;
      margin-right: -.25em;
    });
    position: relative;

    label {
      left: 20px;
      top: 23px;
      position: absolute;
      width: 22px;
      display: block;
      path {
        fill: @light-blue;
      }
    }

    input[type="text"] {
      padding-left: 58px;
      font-size: 14px;
      letter-spacing: .5px;
      color: @light-blue;
      &:focus {
        border: @input-border;

        &::-webkit-input-placeholder {
          color: lighten(@mid-grey, 15%);
        }

        &:-moz-placeholder { /* Firefox 18- */
          color: lighten(@mid-grey, 15%);  
        }

        &::-moz-placeholder {  /* Firefox 19+ */
          color: lighten(@mid-grey, 15%);  
        }

        &:-ms-input-placeholder {  
          color: lighten(@mid-grey, 15%);  
        }
      }
    }
  }

  .button {
    max-width: 350px;
    .respond(@md, {
      width: 37%;
      display: inline-block;
      margin-right: -.25em;
      margin-left: 3%;
    });

    span {
      .display(absolute);
      .topLeft(0, 0);
      .bottomRight(0, 0);
      .transition(all @speed ease-in-out);
      text-align: center;

      &.email-error-label {
        opacity: 0;
        .scale(0.5);
      }
    }
  }

  &.form-invalid {
    .animation(shake 1s ease-in forwards);
    .input-wrap {
      label {
        path {
          fill: @red;
        }
      }

      input[type="text"] {
        color: @red;
      }
    }

    .button {
      background: @red;
      border: 1px solid @red;

      span {   
        &.email-submit-label {
          opacity: 0;
          .scale(0.5);
        }

        &.email-error-label {
          opacity: 1;
          .scale(1);
        }
      }
    }
  }
}

.page-exchange {
  form.sign-up {
    .input-wrap {
      label {

      }
      input[type=text] {
        border: 1px solid @light-blue;
      }
    }

    &.form-invalid {
      .input-wrap {
        input[type=text] {
          border: 1px solid @red;
        }
      }
    }
  }
  .bottom-sign-up {
    form.sign-up {
      .input-wrap {
        label {
          path {
            fill: @white;
          }
        }
        input[type=text] {
          background-color: @light-blue;
          border: 1px solid @white;
          color: @white;
          &::-webkit-input-placeholder {
            color: #93cdfd;
          }

          &:-moz-placeholder { /* Firefox 18- */
            color: #93cdfd;  
          }

          &::-moz-placeholder {  /* Firefox 19+ */
            color: #93cdfd;  
          }

          &:-ms-input-placeholder {  
            color: #93cdfd;  
          }
          &:focus {
            border: @input-border;

            &::-webkit-input-placeholder {
              color: @white;
            }

            &:-moz-placeholder { /* Firefox 18- */
              color: @white;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
              color: @white;  
            }

            &:-ms-input-placeholder {  
              color: @white;  
            }
          }
        }
      }
      .button {
        background-color: @white;
        color: @light-blue;
        border-color: @white;
        &:hover,
        &:active {
          opacity: .75;
          background-color: @white;
          border-color: @white;
          color: @light-blue;
        }
      }
    }
  }
}

.ie9 {
  form.sign-up {
    max-width: 700px;
    margin: 0 auto;

    div.input-wrap {
      label {
        bottom: 35px;
      }
    }

    .button {

    }
  }
}
