.page-demo-request {
  text-align: center;
  padding-bottom: 150px;

  .js-velocity {
    opacity: 0;
  }

  .h2 {
    margin-top: 5%;
    font-size: 32px;
    line-height: 1.1em;
    .respond(@md, {
      font-size: 41px;
    });
  }
  h4 {
    font-size: 14px;
    margin-bottom: 10px;
    .respond(@md, {
      font-size: 16px;
    });
    &+p {
      margin-bottom: 25px;
      a.blue {
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        &:hover {
          border-color: @light-blue;
        }
      }
    }
  }
  form.demo-request {
    text-align: left;
    max-width: 430px;
    margin: 0 auto;

    input, textarea, select {
      color: @light-blue;
      margin: 0;
    }

    select {
      text-indent: 7px;      
    }

    .button {
      max-width: none;
      margin: 17px 0 0 0;

      span {
        .display(absolute);
        .topLeft(0, 0);
        .bottomRight(0, 0);
        .transition(all @speed ease-in-out);
        text-align: center;

        &.demo-request-submit-error {
          opacity: 0;
          .scale(0.5);
        }
      }  
    }

    &.form-invalid {
      .animation(shake 1s ease-in forwards);
      .input-wrap.invalid-input {
        input[type="text"], select {
          color: @red;
        }
      }

      .button {
        background: @red;
        border: 1px solid @red;

        span {   
          &.demo-request-submit-label {
            opacity: 0;
            .scale(0.5);
          }

          &.demo-request-submit-error {
            opacity: 1;
            .scale(1);
          }
        }
      }
    }

    .input-wrap {
      .display(relative);
      margin: 0 0 1em 0;

      &:before {
        content: '';
        opacity: 0;
        .display(absolute);
        .bottomRight(20px, 15px);
        .transition(all @speed ease-in-out);
      }

      label {
        .transition(all @speed ease-in-out);
        margin: 3px 0;
        letter-spacing: .5px;
        font-family: @font-gotham-light;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          color: @light-blue;
        }
      }

      &.invalid-input {
        &:before {
          .icon-circle_error();
          content: '';
          opacity: 1;
        }
      }

      &.valid-input {
        &:before {
          .icon-circle_tick();
          content: '';
          opacity: 1;
        }
      }
    }
  }
  .container.contact {
    margin-top: 50px;
    a {
      display: block;
    }
  }
  .success-alert {
    .transition(all @speed ease-in-out);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40,48,64, .95);
    //background-color: rgba(40,48,64,.75);
    padding-top: 10%;
    .loader {
      .transition(all @speed ease-in-out);
      margin: 0 auto;
      width: 80px;
      height: 80px;
      position: relative;

      .spinner {
        .animation(throb .75s linear infinite;);
        .transition(all @speed ease-in-out);
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
        .border-radius(50%);
        border: 2px solid rgba(255,255,255,.3);
        border-top: 2px solid @white;
        border-left: 2px solid @white;
      }

      .check {
        .transition(all @speed ease-in-out);
        .transform(scale(0));
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: @light-blue;
        .border-radius(50%);
        svg {
          margin: 10px;
          polygon {
            .transition(opacity @speed ease-in-out);
            fill: @white;
            opacity: 0;
          }
          path {
            fill: transparent;
          }
        }
      }
    }

    div.message {
      .transition(all @speed ease-in-out);
      .transform(translateY(25px));
      margin-top: 30px;
      opacity: 0;

      .h1 {
        margin: 0 0 10px 0;
        font-family: @font-gotham-extra-light;
        font-size: 50px;
        letter-spacing: 1.2px;
      }

      .mid-grey {
        font-family: @font-gotham-light;
        letter-spacing: .3px;
        font-size: 14px;
      }
      
      .button {
        margin: 30px 0 0 0;
        max-width: 220px;
        color: #fff;
      }
    }
  }
  &.loading {
    .success-alert {
      visibility: visible;
      opacity: 1;
    }
  }
  &.loaded {
    .success-alert {
      visibility: visible;
      opacity: 1;
    }
    .loader {
      .spinner {
        opacity: 0;
      }
      .check {
        .transform(scale(1));
        svg {
          polygon {
            opacity: 1;
          }
        }
      }
    }
    div.message {
      .transform(translateY(0px));
      opacity: 1;
    }
  }
}

// Thobbing
@keyframes throb
{
0%   {.transform(rotate(0deg));}
100% {.transform(rotate(360deg));}
}

@-moz-keyframes throb /* Firefox */
{
0%   {.transform(rotate(0deg));}
100% {.transform(rotate(360deg));}
}

@-webkit-keyframes throb /* Safari and Chrome */
{
0%   {.transform(rotate(0deg));}
100% {.transform(rotate(360deg));}
}

@-o-keyframes throb /* Opera */
{
0%   {.transform(rotate(0deg));}
100% {.transform(rotate(360deg));}
}