footer {
  .container {
    padding: 50px 0;
    .respond(@md, {
      padding: 100px 0 110px;
    });
    .col {
      max-width: 250px;
    }
  }
	ul {
		margin-bottom: 40px;
    .respond(@md, {
      margin-bottom: 0px;
    });
	}
  .logo {
    svg {
      .respond(@lg, {
        float: right;
      });
      polygon {
        fill: @white;
      }
    }
  }
	.respond(@md, {
	});
}