.main-header {
  padding: .5em 0 0;

  .respond(@md, {
    padding: 2.5em 0 0;
  });

  .respond(@xlg, {
    padding: 3em 0 0;
  });

  .logo {
    float: left;
    cursor: pointer;
    width: 165px;
    
    svg {
      margin-top: 20px;
      height: 24px;
      .respond(@md, {
        margin-top: 15px;
        height: 32px;
      });
      * {
        fill: @white;
      }
    }

    &:hover {
      svg * {
        fill: @light-blue;
      }
    }

    &:active {
      svg * {
        fill: darken(@light-blue, 10%);
      }
    }
  }

  .button-hollow.login {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    width: 160px;
    padding: 0;
    margin-top: 16px;
    .respond(@md, {
      height: 50px;
      line-height: 50px;
      font-size: 11px;
      width: 200px;
      margin-top: auto;
    });
  }

  .right-links {
    text-align: right;
    float: right;

    ul li {
      &.mobile-hide {
        display: none;
        .respond(@lg, {
          display: inline-block;
        });
      }
      display: inline-block;

      a.nav-url {
        display: block;
        padding: 20px 0 20px 30px;
        text-transform: uppercase;
        letter-spacing: @tracked-out;
        font-size: 11px;
        font-family: @font-gotham-book;
        cursor: pointer;

        .respond(@md, {
          padding: 20px 0 20px 40px;
          font-size: 13px;
        });

        i {
          display: inline-block;
          margin: 0 0 0 5px;
          position: relative;

          * {
            fill: #a9acb3;
          }
        }

        &:hover {
          i {
            * {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  &.white-bg {
    background: #fff;

    .logo {
      svg {
        * {
          fill: @dark-blue;
        }
      }

      &:hover {
        svg * {
          fill: @light-blue;
        }
      }

      &:active {
        svg * {
          fill: lighten(@light-blue, 10%);
        }
      }
    }

    a {
      color: @dark-blue;

      i {
        * {
          fill: @dark-blue;
        }
      }

      &:hover {
        color: @light-blue !important;

        i {
          * {
            fill: @light-blue !important;
          }
        }
      }
    }
  }

  .hiring-tooltip {
    float: left;
    margin: 16px 0 0 0;
    position: relative;
    opacity: 0;
    .animation(showHiring .3s 2s ease-in forwards);

    .arrow {
      top: 50%;
      left: -11px;
      margin-top: -6px;
      border-color: transparent;
      border-style: solid;
      border-right-color: @light-blue !important;
      border-left-width: 0;
      border-width: 6px;
      position: absolute;
      display: block;
      width: 0;
      height: 0;
 

      &:after {
        content: " ";
        top: 1px;
        left: -4px;
        margin-top: -6px;
        border-color: transparent;
        border-style: solid;
        border-right-color: @white;
        border-left-width: 0;
        border-width: 5px;
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        .transition(all @speed ease-in-out);
      }
    }

    &.mobile-hide {
      display: none;
      .respond(@lg, {
        display: block;
      });
    }

    a {
      display: block;
      width: 130px;  
      border: 1px solid @light-blue;
      .border-radius(2px);
      text-align: center;
      height: 30px;
      line-height: 29px;
      font-family: @font-gotham-book;
      letter-spacing: 1px;
      color: @light-blue;
      font-size: 11px;
      text-transform: uppercase;

      &:hover {
        background: @light-blue;
        color: #fff !important;
      }
    }

    &:hover {
      .arrow:after {
        border-right-color: @light-blue;
      }
    }
  }
}

.ie9 {
  .main-header {
    .hiring-tooltip {
      display: none !important;
    }
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .main-header {
    .hiring-tooltip {
      display: none !important;
    }
  }
}

// Thobbing
@keyframes showHiring
{
0%   {.transform(translateX(-5px)); opacity: 0;}
100% {.transform(translateX(0px)); opacity: 1}
}

@-moz-keyframes showHiring /* Firefox */
{
0%   {.transform(translateX(-5px)); opacity: 0}
100% {.transform(translateX(0px)); opacity: 1}
}

@-webkit-keyframes showHiring /* Safari and Chrome */
{
0%   {.transform(translateX(-5px)); opacity: 0}
100% {.transform(translateX(0px)); opacity: 1}
}

@-o-keyframes showHiring /* Opera */
{
0%   {.transform(translateX(-5px)); opacity: 0}
100% {.transform(translateX(0px)); opacity: 1}
}