.main-header {
  padding: .5em 0 0;

  .respond(@md, {
    padding: 2.5em 0 0;
  });

  .respond(@xlg, {
    padding: 3em 0 0;
  });

  .logo {
    float: left;
    cursor: pointer;
    width: 115px;
    
    svg {
      margin-top: 20px;
      height: 24px;
      .respond(@md, {
        margin-top: 15px;
        height: 32px;
      });
      * {
        fill: @white;
      }
    }

    &:hover {
      svg * {
        fill: @light-blue;
      }
    }

    &:active {
      svg * {
        fill: darken(@light-blue, 10%);
      }
    }
  }

  .button-hollow.login {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    width: 160px;
    padding: 0;
    margin-top: 16px;
    .respond(@md, {
      height: 50px;
      line-height: 50px;
      font-size: 11px;
      width: 200px;
      margin-top: auto;
    });
  }

  .right-links {
    text-align: right;
    float: right;

    ul li {
      &.mobile-hide {
        display: none;
        .respond(@lg, {
          display: inline-block;
        });
      }
      display: inline-block;

      a.nav-url {
        display: block;
        padding: 20px 0 20px 30px;
        text-transform: uppercase;
        letter-spacing: @tracked-out;
        font-size: 11px;
        font-family: @font-gotham-book;
        cursor: pointer;

        .respond(@md, {
          padding: 20px 0 20px 40px;
          font-size: 13px;
        });

        i {
          display: inline-block;
          margin: 0 0 0 5px;
          position: relative;

          * {
            fill: #a9acb3;
          }
        }

        &:hover {
          i {
            * {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  &.white {
    background: #fff;

    .logo {
      svg {
        * {
          fill: @dark-blue;
        }
      }

      &:hover {
        svg * {
          fill: @light-blue;
        }
      }

      &:active {
        svg * {
          fill: lighten(@light-blue, 10%);
        }
      }
    }

    a {
      color: @dark-blue;

      i {
        * {
          fill: @dark-blue;
        }
      }

      &:hover {
        color: @light-blue !important;

        i {
          * {
            fill: @light-blue !important;
          }
        }
      }
    }
  }
}