.logos {
  text-align: center;
  padding: 3em 0 4em;

  ul li {
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    padding: 7% 7%;
    width: 50%;
    opacity: .7;
    .fadeIn();
    
    svg {
      max-width: 170px;
      max-height: 50px;
      display: block;
      margin: 0 auto;
      * {
        fill: @white;
      }
    }
    &.small {
      svg {
        max-height: 35px;
      }
    }
    .respond(@md, {
      width: 33.333%;
    });
    .respond(@lg, {
      width: 25%;
      padding: 2.5% 4%;
    });
    .respond(@max-site-width, {
      width: 16.666%;
      padding: 2.5% 3.5%;
      svg {
        max-width: 200px;
      }
    });
  }
}