.slide-in-menu {
  .transition(all @speed ease-in-out);
  width: 300px;
  background-color: @black;
  height: 100%;
  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  z-index: @layer-top;
  color: @mid-grey;
  overflow-y: visible;
  overflow-x: hidden;
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: @white;
    &.grey {
      color: @grey;
    }
    &.mid-grey {
      color: @mid-grey;
    }
    &.dark-grey {
      color: @dark-grey;
    }
  }
  .blue {
    color: @light-blue;
  }
  p {
    color: @mid-grey;
  }
  .h1, .h2, .h3, .h4 {
    letter-spacing: .015em;
  }
  a {
    color: @mid-grey;
    &:hover {
      color: @white;
    }
  }
  padding: 80px 50px;
  .button-wrap {
    button {
      height: 40px;
      line-height: 40px;
      width: 100%;
      display: inline-block;
      .respond(@md, {
        height: 45px;
        line-height: 45px;
      });
    }
  }
  h6 {
    margin-top: 50px;
  }
  li a {
    display: block;
  }

  .close-icon {
    .display(absolute);
    .topRight(35px, 50px);
    .transition(all @speed ease-in-out);
    cursor: pointer;
    opacity: .4;

    path {
      fill: #fff;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.application_wrapper.open-menu {
  left: -300px;

  .overlay {
    opacity: .75;
    visibility: visible;
  }

  .slide-in-menu {
    right: 0;
  }

  header {
    .container {
      left: -300px;
    }
  }
}