ul.testimonials-block {
  text-align: center;
  width: 133.33%;
  margin-left: -16.666%;
  > li {
    text-align: center;
    p {
      text-align: center;
      display: block;
      color: @white;
      font-family: @font-gotham-extra-light;
      letter-spacing: .02em;
      font-size: 24px;
      line-height: 1.5em;
    }
  }
}