.top-splash {
  text-align: center;
  padding-top: 2em;
  &.white {
    background-color: @white;
    .splash-ui {
      .laptop {
        .display(relative);
        .topLeft(0,0);
        max-width: 952px;
        z-index: @layer1;
        background: url('/images/laptop-light.png') top left no-repeat;
        background-size: 100% auto;
        padding-bottom: 60%;
        margin-bottom: -5%;
      }
    }
  }

  h1 {
    margin-bottom: .25em; 
  }

  h1.h2 {
    font-family: @font-gotham-extra-light;
    font-size: 30px;
    margin-bottom: .25em;
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
    .respond(@sm, {
      font-size: 32px;
    });
    .respond(@lg, {
      max-width: none;
    });
    .respond(@xlg, {
      font-size: 36px;
    });
  }
  h2 {
    font-size: 16px;
    margin-bottom: 1.8em;
  }
  .splash-ui {
    margin:  auto;
    display: block;
    position: relative;
    padding: 30px 0 0 0;
    max-width: 952px;

    .respond(@lg, {
      display: block;
    });

    .laptop {
      .display(relative);
      .topLeft(0,0);
      max-width: 952px;
      z-index: @layer1;
      background: url('/images/laptop.png') top left no-repeat;
      background-size: 100% auto;
      padding-bottom: 60%;
    }

    .ui-hover {
      display: block;
      position: absolute;
      z-index: @layer3;
      overflow: hidden;
      cursor: pointer;
      .topLeft(0, 0);
      .bottomRight(0, 0);

      &.hover-enterprise {     
        p {
          .display(absolute);
          width: 100%;
          .topLeft(50%, 00%);
          margin: 35px 0 0 0;
          text-align: center;
          z-index: @layer3;
          font-size: 13px;
          font-family: @font-gotham-medium;
          letter-spacing: 3px;
          .scale(0);
          .transition(all @speed .15s ease-in-out);
          opacity: 0;
          .transform(translate3d(0, 20px, 0));
          height: 18px;
          color: @white;
        }

        aside {
          display: none;
          position: absolute;
          .bottomLeft(30px, 0px);
          .transition(all .4s 1s ease-in-out);
          .transform(translate3d(0, 5px, 0));
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-family: @font-gotham-light;
          font-size: 10px;
          z-index: @layer3;
          opacity: 0;
          letter-spacing: 3px;
          color: #fff;

          .respond(@sm, {
            display: block;
          });
        }

        .play_button {
          .display(absolute);
          .topLeft(50%, 50%);
          margin: -30px 0 0 -35px;
          z-index: @layer3;
          .transition(all @speed .15s ease-in-out);

          svg {
            margin: 0 auto;
            .size(50px, 50px);
            .display(relative);
            .topLeft(10px, 10px);
            .animation(buttonPulsate 1.4s ease-in-out infinite);

            .respond(@sm, {
              .topLeft(0px, 0px);
              .size(70px, 70px);
            });

            * {
              .transition(all @speed ease-in-out);
            }

            &:hover {
              circle {
                fill: #fff
              }

              polygon {
                fill: @light-blue;
              }
            }
          }
        }

        &:after {
          content: '';
          position: absolute;
          .transition(all @speed ease-in-out);
          .size(100%, 100%);
          .topLeft(0, 0);
          .border-radius(2px);
          opacity: 0;
          z-index: @layer1;
          background: rgba(24, 108, 179, 0.8);
        }
      }

      &.hover-exchange {
        span {
          .display(absolute);
          .topLeft(50%, 50%);
          .transition(all @speed ease-in-out);
          margin: -15px 0 0 -125px;
          width: 250px;
          z-index: @layer3;
          opacity: 0;
          .transform(translate3d(0, 10px, 0));
          .scale(.9);
        }

        &:after {
          content: '';
          position: absolute;
          .transition(all @speed ease-in-out);
          .size(100%, 100%);
          .topLeft(0, 0);
          .border-radius(2px);
          opacity: 0;
          z-index: @layer1;
          background: rgba(34, 156, 255, 0.7);
        }
      }

      &:hover {
        &:after {
          opacity: .9;
        }

        span {
          opacity: 1;
          .transform(translate3d(0, 0, 0));
          .scale(1);
        }

        .play_button {
          .transform(translate3d(0, -20px, 0));
        }

        aside {
          .transform(translate3d(0, 0, 0));
          opacity: .6;
        }

        p {
          .scale(1);
          .transform(translate3d(0, 0px, 0));
          opacity: 1;
        }
      }

      &:active {

        span {
          opacity: 1;
        }

        &:after {
          opacity: 1;
        }

        .play_button {
          opacity: .7;
        }
      }
      
    }

    .ui {
      .border-radius(3px);
      .size(74%, auto);
      .topLeft(19%, 13%);
      .display(absolute);
      overflow: hidden;
      max-width: 707px;
      max-height: 435px;
      z-index: @layer2;

      @media only screen and (min-width: 450px) {
        top: 16%;
      }

      @media only screen and (min-width: 500px) {
        top: 15%;
      }

      .respond(@sm, {
        top: 12%;
      });

      .respond(@md, {
        top: 12%;
      });

      video {
        width: 100%;
        max-width: 100%;

        &::-webkit-media-controls {
          display:none !important;
        }
      }
    }

    frame {
      border: none;
      outline: none;
    }
  }

  :focus::-webkit-input-placeholder {
   color: @mid-grey;
  }

  :focus:-moz-placeholder { /* Firefox 18- */
     color: @mid-grey 
  }

  :focus::-moz-placeholder {  /* Firefox 19+ */
     color: @mid-grey 
  }

  :focus:-ms-input-placeholder {  
     color: @mid-grey 
  }
}